* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 24px;
  font-family: Cochins, 'Times New Roman', sans-serif;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
}

.landmark-images {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.landmark-details-images {
  height: 70vh;
  width: 80%;
  object-fit: cover;
}

@media screen and (min-width: 1000px) {
  .desc {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

@media screen and (max-width: 768px) {
  * {
    font-size: 16px;
  }

  .landmark-images {
    height: 250px;
    object-fit: cover;
  }

  .landmark-details-images {
    height: 30vh;
    width: 100%;
    object-fit: cover;
  }

  .test {
    font-size: 18px;
    flex-wrap: wrap;
    gap: 2px;
  }
}